<div class="sidebar">
  <div class="receipt">
    <p class="banner">~Immortal Con~<br />Artists Alley
    </p>
    <p class="user">
      0143 Cathy <span class="right">{{sales.length + 1}}</span>
    </p>
    <p class="rule">-------------------------</p>
    <p class="date">{{date|date:"MMMdd"}}'{{date|date:"yy h:mm.ssa"}}</p>
    <p class="rule">-------------------------</p>
    <ul class="cart">
      <li class="cart-item" ng-repeat="item in cart" ng-click="removeFromCart($index)">
        {{item.name}}
        <span class="right">{{item.cost|number:2}}</span>
      </li>
    </ul>

    <div class="total" ng-class="{up: (cart.length > 0)}">
      Total
      <span class="cost right">{{total|number:2}}</span>
    </div>
  </div>
  <div class="bar">
    <button class="cash" ng-click="purchase(true)">CASH</button>
    <button class="card" ng-click="purchase(false)">CARD</button>
  </div>
</div>

<div class="all-items">
  <h2>Items</h2>
  <ul class="store">
    <li class="store_item" ng-repeat="item in items">
      <div class="button" 
           ng-class="{'cat': item.owner == 1, 'rose': item.owner == 0, 'both': item.owner == 2, 'out': item.stock <= 0}"
           ng-click="addToCart($event, item, $index)"
           ng-mousedown="beginRemoveItem(item, $index)"
           ng-mouseup="endRemoveItem()">
        <span class="btn-content">{{item.name}}</span>
        <span class="stock">{{item.stock}}</span>
      </div>
    </li>
    <li class="store_item">
      <div class="button add" ng-click="toggleCreateItem()"><span class="btn-content">+</span></div>
    </li>
  </ul>
  <h2>Bundles</h2>
  <ul class="bundle">
    <li class="bundle_item" ng-repeat="bundle in bundles">
      <div class="button" 
           ng-class="{'cat': bundle.owner == 1, 'rose': bundle.owner == 0, 'both': bundle.owner == 2}"
           ng-click="addToCart($event, bundle, $index)"
           ng-mousedown="beginRemoveBundle(bundle, $index)"
           ng-mouseup="endRemoveBundle()">
           <span class="btn-content">{{bundle.name}}</span></div>
    </li>
    <li class="bundle_item">
      <div class="button add" ng-click="toggleCreateBundle()"><span class="btn-content">+</span></div>
    </li>
  </ul>

  <div class="admin">
    <div class="btn-wrap">
      <div class="button" ng-click="nukeItems()"><span class="content">Nuke Items</span></div>
    </div>
    <div class="btn-wrap">
      <div class="button" ng-click="nukeBundles()"><span class="content">Nuke Bundles</span></div>
    </div>
    <div class="btn-wrap">
      <div class="button" ng-click="nukeSales()"><span class="content">Nuke Sales</span></div>
    </div>
    <div class="btn-wrap right">
      <div class="button" ng-click="toggleCreateExport()"><span class="content">Export Data</span></div>
    </div>
  </div>
</div>




<div class="modal" ng-show="item_create.visible">
  <div class="content">
    <form class="create-item-form">
      <div class="unit buttons">
        <div class="button" ng-click="createItem(true)"><span class="btn-content">Create + New</span></div>
        <div class="button" ng-click="createItem(false)"><span class="btn-content">Create Item</span></div>
        <div class="button" ng-click="toggleCreateItem()"><span class="btn-content">Cancel</span></div>
      </div>
      <h2>Create Item</h2>
      <div class="unit">
        <label class="label" for="item_name">Item Name</label>
        <input id="item_name" ng-model="item_create.name" type="text" /><br />
      </div>
      <div class="unit">
        <label class="label" for="item_cost">Cost</label>
        <input id="item_cost" ng-model="item_create.cost" type="text" /><br />
      </div>
      <div class="unit">
        <label class="label" for="item_stock">Stock</label>
        <input id="item_stock" ng-model="item_create.stock" type="text" /><br />
      </div>
      <div class="unit">
        <label class="label" for="item_owner">Owner</label>
        <div class="sub-unit">
          <label class="label" for="item_owner_0">Rose</label>
          <input id="item_owner_0" ng-model="item_create.owner" type="radio" value="0"/>
          <br />
          <label class="label" for="item_owner_1">Cat</label>
          <input id="item_owner_1" ng-model="item_create.owner" type="radio" value="1"/>
          <br />
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal" ng-show="bundle_create.visible">
  <div class="content">
    <form class="create-item-form">
      <div class="unit buttons">
        <div class="button" ng-click="createBundle(true)"><span class="btn-content">Create + New</span></div>
        <div class="button" ng-click="createBundle(false)"><span class="btn-content">Create Bundle</span></div>
        <div class="button" ng-click="toggleCreateBundle()"><span class="btn-content">Cancel</span></div>
      </div>
      <h2>Create Bundle</h2>
      <div class="unit">
        <label class="label" for="item_name">Bundle Name</label>
        <input id="item_name" ng-model="bundle_create.name" type="text" /><br />
      </div>
      <div class="unit">
        <label class="label" for="item_cost">Cost</label>
        <input id="item_cost" ng-model="bundle_create.cost" type="text" /><br />
      </div>
     <div class="unit">
      <label class="label" for="item_owner">Owner</label>
      <div class="sub-unit">
        <label class="label" for="item_owner_0">Rose</label>
       <input id="item_owner_0" ng-model="bundle_create.owner" type="radio" value="0"/>
        <br />
        <label class="label" for="item_owner_1">Cat</label>
        <input id="item_owner_1" ng-model="bundle_create.owner" type="radio" value="1"/>
        <br />
        <label class="label" for="item_owner_2">Both</label>
        <input id="item_owner_2" ng-model="bundle_create.owner" type="radio" value="2"/>
      </div>
    </div>
    </form>
  </div>
</div>

<div class="modal" ng-show="export_create.visible">
  <div class="content">
    <form class="create-item-form">
      <div class="unit buttons">
        <div class="button" ng-click="toggleCreateExport()"><span class="btn-content">Cancel</span></div>
      </div>
      <h2>Fancy Copy-Paste Export</h2>
      <div class="unit">
        <textarea ng-model="export_create.content" rows="30" cols="100"></textarea>
      </div>
    </form>
  </div>
</div>